/** Font styles
---------------------------------*/

body {
    margin: 0;
    font-size: 100%; /* Fixes exaggerated text resizing in IE6 and IE7 */
}

#page {
    font-size: 0.8125em; /* 16px x .8125 = 13px */
    line-height: 1.5em; /* 14px x 1.5 = 21px */
}

body, caption, th, td, input, textarea, select, option, legend, fieldset {
    font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
}

/* Links */

a:link, a:visited {
    /*color: darkblue;*/
    color: DarkSlateGray;
    text-decoration: none;
}

a:hover, a:active {
    color: darkblue;
    text-decoration: underline;
}



/* Titles  */

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3em;
}

h1 {
    font-size: 2.2em;
    font-weight: normal;
    padding: 0 0 0.5em;
    margin: 0;

}

h2 {
    font-size: 1.8em;
    font-weight: normal;
    margin-bottom: 0.75em;
}

h3 {
    font-size: 1.4em;
    margin-bottom: 1em;
}

h4 {
    font-size: 1.2em;
    margin-bottom: 0.2em;
}

h5 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 1.5em;
}

h6 {
    font-size: 1em;
    font-weight: bold;
}

h1#site-name {
    text-transform: uppercase;
    font-size: 1.4em;
    text-indent:-5000px;
    padding: 5px;

}



h1#site-name a {
    color: #fff;
}

/* Paragraph Styles */

p {
    margin: 1em 0;
}

.view-content p {
    margin: 0;
}

.view-content {
    padding-bottom: 1em;
}

/* List Styles  */

ul, ol {
    margin-left: 0;
    padding-left: 2em;
}

/* Table Styles  */

table {
    width: 99%;
}

tr.even td, tr.odd td {
    padding: 10px 5px;
}

tr.odd {
    background-color: #fff;
}

/* Code */

pre, code, tt {
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height: 1.5;
}

pre {
    background-color: #efefef;
    display: block;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #aaa;
}

/* List Styles */

ul {
    list-style-type: disc;
}

ul ul {
    list-style-type: circle;
}

ul ul ul {
    list-style-type: square;
}

ul ul ul ul {
    list-style-type: circle;
}

ol {
    list-style-type: decimal;
}

ol ol {
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: decimal;
}

/* Abbreviation */

abbr {
    border-bottom: 1px dotted #666;
    cursor: help;
    white-space: nowrap;
}

/* UI improvments  */

#edit-title {
    font-size: 24px;
}

#system-themes-form img {
    width: 100px;
}

.form-item .description {
    font-style: italic;
    line-height: 1.2em;
    font-size: 0.8em;
    margin-top: 5px;
    color: #777;
}

#edit-delete {
    color: #c00;
}

/** Region Colors
---------------------------------
*  delete when starting a new theme */

/*#header, #footer { background-color: #efefef; }*/
/*#sidebar-first {	background: #e7edff; }*/
#sidebar-second {
    /*background: #ffd075;*/
}

.sidebar h4 {
    font-size:0.9em;
    font-weight:bold;
}


#block-panels_mini-news h4{
    display:inline;
}

.sidebar p{
    display:inline;
    font-size: 1.1em;
    line-height:1.5em;
}

#navigation {
    background-color: #feffa5;
    /*display:none;*/
}

/*Search*/

#edit-query {
    width: 9em;
    background-image: none;
}

/*Tagadelic*/

#block-panels_mini-tagadelic{
    padding: 0px;
}

#block-panels_mini-tagadelic  .content {
    margin: 5px;
}

.sidebar  .title
{
    background-color: #aaa;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 5px;
    margin-bottom: 0.5em;

}



#sidebar-first #sidebar-first-inner #block-panels_mini-tagadelic .title {
    font-size: 1.1em;
    text-align:left;
}

#sidebar-first #sidebar-first-inner #block-panels_mini-tagadelic a {
    color: #666;
    text-decoration: underline;
}

 #sidebar-second .title
 {
     padding-top:5px;
     padding-bottom:5px;
     /*background-color:#15727A;*/
 }

 #sidebar-second .views-field-teaser,
 #sidebar-second .views-field-title
 {
     padding-left:5px;

}

/*Glavred*/

#block-panels_mini-56 .views-field-teaser p {
    line-height: 1.3em;
}

#block-panels_mini-56 .views-field-teaser .field-content {
    margin: 0 5px;
}

#block-panels_mini-editorial,
#block-panels_mini-editorial_eng
{
    margin-top:1.5em;
}

#block-panels_mini-editorial .teaser {
    /*display: none;*/
}
.node-type-article-eng .view-article-page-eng .views-field-title h4,
.node-type-short .view-article-page-eng .views-field-title h4,
.node-type-editorial-eng .view-article-page-eng .views-field-title h4
{
    margin-bottom:2em;
}
.node-type-article-eng .view-article-page-eng .views-field-title h4 a,
.node-type-short .view-article-page-eng .views-field-title h4 a,
.node-type-editorial-eng .view-article-page-eng .views-field-title h4 a
{
    font-size:2em;
    color: #333;
    font-weight:bold;
}

.node-type-article-eng .view-article-page-eng .views-field-title h4 a:hover,
.node-type-short .view-article-page-eng .views-field-title h4 a:hover,
.node-type-editorial-eng .view-article-page-eng .views-field-title h4 a:hover{
    text-decoration:none;
    color:#333;
}

.view-GlavRedArticle h4 {
    padding-left:3px;
    margin-top:10px;
}

.view-GlavRedArticle  .views-field-teaser a{
    color:#333;
}

.views-field-title {
    font-size: 1.4em;
    font-weight: bold;

}

.views-field-created {
    font-size: 1.1em;
    color: #777;
    font-weight:bold;
    display:inline;
    /*text-align: right;*/
/*    display: block;
    margin-top: -18px;
    padding-right: 5px;*/
}

.front .views-field-created {
    padding-left:150px;
}

.sidebar .views-field-created,
#mini-panel-short .views-field-created
{
    padding-left:0px;
}

#mini-panel-short {
    font-size:0.9em;
}
#mini-panel-short .views-field-title {
    font-size:1.1em;
    line-height:1.5em;
}

/*Articles*/


#block-panels_mini-8  {
    padding-top:1em;
}

#block-panels_mini-8 .title {
  display: none;
}

#articles{
    padding-right:20px;
}

.views-row-even, .views-row-odd {
    margin-bottom: 0.8em;
}

.teaser {
    float: left;
    margin-right: 10px;
    margin-bottom: -3px;
    margin-top:-17px;

}

.views-field-teaser-1  a,
.views-field-teaser-1  a
{
    color: #333;
}

.views-field-teaser-1  a:hover,
.views-field-teaser-1  a:hover
{
    color: darkblue;
    text-decoration: underline;
}

.views-field-teaser-1 p,
.views-field-teaser p
{
    display: inline;

}

.field-content .avtor {
    font-size: 1.1em;
    color: #777;
    font-weight:bold;
    padding-left:4px;

}

.readmore {
    display: inline;
}

.view-article-view  h4{
    font-size:0.9em;
}

#mini-panel-article,
#mini-panel-article_eng
{
    padding-right:10px;
    padding-top:20px;
}

#mini-panel-article .views-field-teaser,
#mini-panel-article_eng .views-field-teaser
{
    text-align:justify;
    font-size:1.1em;
    line-height:1.5em;
}

#mini-panel-article .views-field-title {
    margin-bottom:1em;
}

/*Short articles*/
#short_articles,
#short_articles_eng
{
    padding:10px;
    background-color:beige;
}

#short_articles h2,
#short_articles_eng h2,
#mini-panel-article_page_eng .panel-col-last h2,
#mini-panel-article_page .panel-col-last h2,
#mini-panel-person_page .panel-col-last h2,
#mini-panel-news_page .panel-col-last h2
{
    font-size:1.1em;
    color: #aaa;
    font-weight:bold;
}

#short_articles h4,
#short_articles_eng h4
{
    /*font-size:0.9em;*/
     font-size:1.1em;
    
}

#short_articles .views-field-teaser,
#short_articles_eng .views-field-teaser
{
    text-align:left;
    font-size: 1em;
    margin-top:-0.7em;
}

#short_articles .field-content .avtor
{
    font-size:1em;
}
#short_articles .views-field-created .field-content .created
{
    font-size:0.9em;
}


/*Youtube*/


#sidebar-second #block-views-youtube-block_1 a{
    display: inline;
    font-size:0.85em;
    line-height:0.7em;
}

#google-cse-searchbox-form {
    position:relative;
    margin-bottom:-20px;
}
/*Rating*/

#block-panels_mini-Rating .title {

    background-color:#15727A;
}


#block-views-Rating-block_1 .title{
    margin-bottom:1em;
}
#block-views-Rating-block_1 li{
    margin-bottom:5px;
}

#block-views-Rating-block_1 li h4{
    font-weight:normal;
    font-size:0.75em;
    text-decoration:underline;

}

#block-views-Rating-block_1 .views-row-1 a,
#block-views-Rating-block_1 .views-row-1 h4{
    color:#000;
}
#block-views-Rating-block_1 .views-row-2 a,
#block-views-Rating-block_1 .views-row-2 h4{
    color:#888;
}
#block-views-Rating-block_1 .views-row-3 a,
#block-views-Rating-block_1 .views-row-3 h4{
    color:#aaa;
}

/*Annonce*/
#block-panels_mini-annonce .title {
    background-color:#15727A;
}
/*Audio*/

#block-views-audio-block_1 ul {
      padding:0;
    margin:0;
}
#block-views-audio-block_1 li {
    list-style:none;
    padding:0;
    margin:0;
}
#block-views-audio-block_1 h2 {
    font-size:1.1em;
    font-weight:bold;
    margin-top:0.5em;
    line-height:1.1em;
}

#block-views-audio-block_1 p {
    font-size:0.85em;
    line-height:1.3em;
}

#block-views-audio-block_1 .links, #block-views-audio-block_1 .pager  {
    display: none;
}

 #sidebar-second  .title
 {
     /*background-color:#15727A;*/
 }

.feed-icon {
    text-align:right;
}

#block-views-audio-block_1  .feed-icon,
#block-panels_mini-news  .feed-icon,
#block-panels_mini-89   .feed-icon
{
    float:right;
    margin-top:-11px;
    margin-right:1px;
}
.section-category .feed-icon {
    display:block;
    float:right;
}

.section-category  #content .panel-col-first {
    width:70%;
}


#mini-panel-news  .views-field-created,
#mini-panel-news   h4,
#mini-panel-article_page .view-article-author  .views-field-created,
#mini-panel-article_page .view-article-author  h4,
#mini-panel-article_page_eng .view-article-author  .views-field-created,
#mini-panel-article_page_eng .view-article-author  h4
{
    display:inline;

}

#mini-panel-news  .views-field-created,
#mini-panel-article_page .view-article-author  .views-field-created,
#mini-panel-article_page_eng .view-article-author  .views-field-created
{
    font-size:0.9em;
    font-weight:bold;
    color: #777;
}


.teaser1 {
    float:left;
    margin-right:10px;
    margin-top:5px;
}

#mini-panel-person  .field-content,
#block-panels_mini-org_history  .field-content
{
    font-size:0.85em;
    line-height:1.3em;

}


/*Person + Org history*/

#mini-panel-person .title,
#block-panels_mini-org_history .title
{
    background-color:#15727A;
    margin-top:1.5em;
    margin-bottom:0.5em;
}

#mini-panel-person h4,
#block-views-youtube-block_1 h4,
#block-panels_mini-org_history h4
{
    font-size:1.1em;
}

/*Article*/

.node-type-article-eng #content-header h1.title,
.node-type-article #content-header h1.title,
.node-type-editorial #content-header h1.title,
.node-type-editorial-eng #content-header h1.title,
.node-type-persona #content-header h1.title,
.node-type-short #content-header h1.title,
.page-persons_archive #content-header h1.title,
.node-type-news #content-header h1.title
{
    display: none;
}

.node-type-article #main,
.node-type-article-eng #main,
.node-type-short #main,
.node-type-editorial-eng #main,
.node-type-editorial #main
{
    padding-top:1em;
    padding-left:20px;
}

.node-type-article #main h3.title,
.node-type-article-eng #main h3.title
{
    display: none;
}

.node-type-article #main .panel-col-first,
.node-type-article-eng #main .panel-col-first,
.node-type-editorial #main .panel-col-first,
.node-type-editorial-eng #main .panel-col-first,
.node-type-news #main .panel-col-first,
.node-type-persona #main .panel-col-first,
.page-persons_archive #main .panel-col-first,
.node-type-short #main .panel-col-first
{
    width:75%;
}

.node-type-article #main .panel-col-last,
.node-type-article-eng #main .panel-col-last,
.node-type-editorial-eng #main .panel-col-last,
.node-type-editorial #main .panel-col-last,
.node-type-news #main .panel-col-last,
.node-type-persona #main .panel-col-last,
.page-persons_archive #main .panel-col-last,
.node-type-short #main .panel-col-last
{
    width:25%;
}
.node-type-article #main .panel-col-last .inside,
.node-type-article-eng #main .panel-col-last .inside,
.node-type-editorial #main .panel-col-last .inside,
.node-type-editorial-eng #main .panel-col-last .inside,
.node-type-short #main .panel-col-last .inside

{
   padding-left:20px;
}

.node-type-article h2,
.node-type-article-eng h2,
.node-type-editorial h2,
.node-type-editorial-eng h2,
.node-type-short h2,
.view-news-page h2

{
   font-weight:bold;
}



.view-article-page,
.view-article-page-eng,
.view-news-page
{
    padding-right:15px;
}

.view-article-page .field-content p,
.node-type-persona .field-content p,
.node-type-editorial .field-content p,
.node-type-article-eng .field-content p,
.node-type-short .field-content p,
.node-type-editorial-eng .field-content p,
.page-persons_archive .field-content p,
.page-taxonomy .field-content p,
.page-article-archive .field-content p,
.view-news-page .field-content p

{
    text-align:justify;
    font-size:1.2em;
    line-height:1.6em;

}
.view-person-page h4 {
    font-size:1.8em; 
}
.view-article-page h2 a,
.view-person-page h4 a,
.view-news-page h2 a

{
    color: #333;
    letter-spacing:-0.05em;
}

.view-news-page .views-field-created,
.view-news-page h2
{
    display:inline;
}

.view-news-page .views-field-created {
    font-size:2em;
}

#mini-panel-news_page .view-news-page .views-field-body {
    padding-top:2em;
}

.view-article-page h2 a:hover,
.view-person-page h4 a:hover,
.view-news-page h2 a:hover

{
    color: #333;
    text-decoration:none;
    cursor:default;
}
/*Author block*/

#author-blok li{
    list-style:none;
    background:url(images/blt.gif) no-repeat 0 50%;
    padding-left:15px;
    padding-bottom:3px;
    font-size:0.85em;
}

/*Author articles*/

#author_articles h2
{
    background-color:#15727A;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    padding-left: 5px;
    margin-bottom: 0.5em;
}

#author_articles h4 {
    font-size:0.9em;

}
#mini-panel-article_page h4,
#mini-panel-article_page_eng h4,
#mini-panel-news_page h4
{
    font-size:0.9em;
}

/*Article archive*/

.page-article-archive h3,
.page-article-archive #content h1 {
    /*display: none;*/
}
.page-article-archive #main{
    padding-top:1em;
}

#mini-panel-article_archive_pan {
    padding-right:40px;
}

#mini-panel-article_archive_pan  .views-field-created {
    text-align:left;
    margin:0;
}

.page-article-archive  #content .item-list  li {
   list-style-type:none;
}

.page-article-archive #sidebar-second h2{
    background-color:#15727A;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    padding-left: 5px;
    margin-bottom: 0.5em;
}

.page-article-archive #sidebar-second h4 {
    font-size:0.9em;

}

.page-article-archive #sidebar-second ol{
    padding-left: 25px;
}

/*About*/

.page-aboutus #main {
    padding-left:20px;
}

.page-aboutus #main h3.title{
   font-size:1.8em;
    margin-bottom:0;
}

.page-aboutus #main .panel-col-first {
    width:75%;
}

.page-aboutus #main .panel-col-last {
    width:25%;
}
.page-aboutus #main .panel-col-last .inside {
   padding-left:20px;
}

.staff ul {
    border-bottom:dashed 2px #ccc;
    margin-bottom:2em;
}



.switcher {
    width:100px;
    position:absolute;
    top: 200px;
    right:30px;
    z-index:30;
}
.views-field-teaser-1 h3 {
margin-bottom: 0;
color: #777;
font-size:1.1em;
}


/*Not displayed*/

.edit {
    display: none;
}

#mini-panel-aboutus h2.title{
    display: none;
}


.tabs, .breadcrumb {
    display:none;
}


#block-menu-primary-links h3 {
    display: none;
}                                                                                                       


.views-label-field-youtube-embed, #block-views-youtube-block_1 .teaser {
    display:none;
}

#block-menu-primary-links h3 {
    display: none;
}


/*Short Article*/

#mini-panel-short {
    /*padding:10px;*/
}
#mini-panel-short .view-content {
    padding-bottom:0;
}
.view-short-article .views-field-teaser {
    font-size:0.85em;
    color: #555;
    padding:0;
}


/*Author panel*/

.page-user .tabs {
    display:block;
}

/*Author sidebar*/

#mini-panel-article_page .panel-col-last .inside,
#mini-panel-article_page_eng .panel-col-last .inside,
#mini-panel-person_page .panel-col-last .inside,
#mini-panel-news_page .panel-col-last .inside

{
    padding-top:1em;
    padding-bottom:7em;
    background: url(images/author_bg.gif) repeat-x 0 0;

}

#mini-panel-article_page_eng .panel-col-last h3,
#mini-panel-article_page .panel-col-last h3,
#mini-panel-person_page .panel-col-last h3,
#mini-panel-news_page .panel-col-last h3
{
    font-size: 1.3em;
    padding-top:0.5em;
    color: #333;
}

#mini-panel-article_page .panel-col-last #author-blok,
#mini-panel-article_page_eng .panel-col-last #author-blok
{
    padding-left:0;
}

#mini-panel-news_page .panel-col-last .inside,
#mini-panel-person_page .panel-col-last .inside
{
    padding:10px;
    padding-bottom:16em;
}

#mini-panel-news_page .panel-col-last .feed-icon {
    margin-top:-28px;
}

#mini-panel-news_page .panel-col-last .view-content {
    padding-left:5px;
    padding-top:10px;
    padding-right:5px;
}

#mini-panel-news_page .panel-col-last .created,
#mini-panel-news_page .panel-col-last .views-field-title h4
{
    display:inline;
}

/*Calender Person Archive*/

#block-panels_mini-persona_archive .panel-col-last h2 {
    display:none;
}

#block-panels_mini-persona_archive .panel-col-last .inside {
    padding:0;
    margin-top:-45px;

}

#block-panels_mini-persona_archive h4 {
    font-size:1.8em;
}

.view-calendar .feed-icon {
    display:none;
}

#block-panels_mini-persona_archive img.teaser{
    display:none;

}

/*All links*/

.title .all {
    font-weight:normal;
    text-align:right;
    padding-left:85px;
    color: #ccc;
    font-size:0.85em;
}

#block-panels_mini-org_history .all {
    padding:15px;
}


/*Read more*/

.views-field-view-node {
   text-align:right;
    font-weight:bold;
    margin-right:0px;
}


.views-field-view-node a {
    padding-left:15px;
    background:url(images/arrow_lit.gif) no-repeat 0 70%;
}

.not-front #content .panel-col-last  p{
    display: inline;
}

.not-front #content .panel-col-last  .views-field-created {
   float:left; 
}

.not-front #content .panel-col-last .views-field-teaser, .not-front #content .panel-col-last .views-field-teaser .field-content {
    display: inline;
}

.not-front .panel-col-last .views-field-view-node {
    display:inline;

}

#content .panel-col-last .views-field-view-node a {
    text-indent:-15000px;
    color:beige;

}

#content .panel-col-last .views-field-view-node a:hover {
    color:beige;
    text-decoration:none;
}

/*Footer*/

#mini-panel-footer .panel-col-last p {
    text-align:right;
}
#mini-panel-footer .panel-col-first p {
    text-align:left;
    padding-left:10px;
}


/*Authors*/
.section-authors .tabs,.section-authors h3, .section-authors h1, .page-user #content-area    {
  /*display: none;*/
}

.front #content-area {
    display: none;
    
}

