/** Font styles
---------------------------------*/

body {
    margin: 0;
    font-size: 100%; /* Fixes exaggerated text resizing in IE6 and IE7 */
}

#page {
    font-size: 0.8125em; /* 16px x .8125 = 13px */
    line-height: 1.5em; /* 14px x 1.5 = 21px */
}

body, caption, th, td, input, textarea, select, option, legend, fieldset {
    font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
}

/* Links */

a:link, a:visited {
    /*color: darkblue;*/
    color: DarkSlateGray;
    text-decoration: none;
}

a:hover, a:active {
    color: darkblue;
    text-decoration: underline;
}



/* Titles  */

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3em;
}

h1 {
    font-size: 2.2em;
    font-weight: normal;
    padding: 0 0 0.5em;
    margin: 0;

}

h2 {
    font-size: 1.8em;
    font-weight: normal;
    margin-bottom: 0.75em;
}

h3 {
    font-size: 1.4em;
    margin-bottom: 1em;
}

h4 {
    font-size: 1.2em;
    margin-bottom: 0.2em;
}

h5 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 1.5em;
}

h6 {
    font-size: 1em;
    font-weight: bold;
}

h1#site-name {
    text-transform: uppercase;
    font-size: 1.4em;
    text-indent:-5000px;
    padding: 5px;

}



h1#site-name a {
    color: #fff;
}

/* Paragraph Styles */

p {
    margin: 1em 0;
}

.view-content p {
    margin: 0;
}

.view-content {
    padding-bottom: 1em;
}

/* List Styles  */

ul, ol {
    margin-left: 0;
    padding-left: 2em;
}

/* Table Styles  */

table {
    width: 99%;
}

tr.even td, tr.odd td {
    padding: 10px 5px;
}

tr.odd {
    background-color: #fff;
}

/* Code */

pre, code, tt {
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height: 1.5;
}

pre {
    background-color: #efefef;
    display: block;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #aaa;
}

/* List Styles */

ul {
    list-style-type: disc;
}

ul ul {
    list-style-type: circle;
}

ul ul ul {
    list-style-type: square;
}

ul ul ul ul {
    list-style-type: circle;
}

ol {
    list-style-type: decimal;
}

ol ol {
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: decimal;
}

/* Abbreviation */

abbr {
    border-bottom: 1px dotted #666;
    cursor: help;
    white-space: nowrap;
}

/* UI improvments  */

#edit-title {
    font-size: 24px;
}

#system-themes-form img {
    width: 100px;
}

.form-item .description {
    font-style: italic;
    line-height: 1.2em;
    font-size: 0.8em;
    margin-top: 5px;
    color: #777;
}

#edit-delete {
    color: #c00;
}

/** Region Colors
---------------------------------
*  delete when starting a new theme */

/*#header, #footer { background-color: #efefef; }*/
/*#sidebar-first {	background: #e7edff; }*/
#sidebar-second {
    /*background: #ffd075;*/
}

.sidebar h4 {
    font-size:0.9em;
    font-weight:bold;
}


#block-panels_mini-news h4{
    display:inline;
}

.sidebar p{
    display:inline;
    font-size: 1em;
    line-height:0.3em;
}

#navigation {
    background-color: #feffa5;
}

/*Search*/

#edit-query {
    width: 9em;
    background-image: none;
}

/*Tagadelic*/

#block-panels_mini-tagadelic{
    padding: 0px;
}

#block-panels_mini-tagadelic  .content {
    margin: 5px;
}

.sidebar  .title
{
    background-color: #999;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    padding-left: 5px;
    margin-bottom: 0.5em;

}



#sidebar-first #sidebar-first-inner #block-panels_mini-tagadelic .title {
    font-size: 1.1em;
    text-align:left;
}

#sidebar-first #sidebar-first-inner #block-panels_mini-tagadelic a {
    color: #666;
    text-decoration: underline;
}

 #sidebar-second .title
 {
     background-color:#15727A;
 }

/*Glavred*/

#block-panels_mini-56 .views-field-teaser p {
    line-height: 1.3em;
}

#block-panels_mini-56 .views-field-teaser .field-content {
    margin: 0 5px;
}

#block-panels_mini-editorial .teaser {
    display: none;
}

.view-GlavRedArticle h4 {
    padding-left:3px;
    margin-top:10px;
}

.view-GlavRedArticle  .views-field-teaser a{
    color:#333;
}

.views-field-title {
    font-size: 1.2em;
    font-weight: bold;

}

.views-field-created {
    font-size: 0.9em;
    color: #777;
    font-weight:bold;
    display:inline;
    /*text-align: right;*/
/*    display: block;
    margin-top: -18px;
    padding-right: 5px;*/
}

.front .views-field-created {
    padding-left:145px;
}

.sidebar .views-field-created,
#mini-panel-short .views-field-created
{
    padding-left:0px;
}

/*Articles*/


#block-panels_mini-8  {
    padding-top:1em;
}

#block-panels_mini-8 .title {
  display: none;
}

#articles{
    padding-right:20px;
}

.views-row-even, .views-row-odd {
    margin-bottom: 0.8em;
}

.teaser {
    float: left;
    margin-right: 5px;
    margin-bottom: -3px;
    margin-top:-17px;
}

.views-field-teaser-1  a,
.views-field-teaser-1  a
{
    color: #333;
}

.views-field-teaser-1  a:hover,
.views-field-teaser-1  a:hover
{
    color: darkblue;
    text-decoration: underline;
}

.views-field-teaser-1 p,
.views-field-teaser p
{
    display: inline;
}

.field-content .avtor {
    font-size: 1em;
    color: #777;
    font-weight:bold;
    padding-left:4px;

}

.readmore {
    display: inline;
}

.view-article-view  h4{
    font-size:0.9em;
}

/*Short articles*/
#short_articles {
    padding:10px;
    background-color:beige;
}

#short_articles h2{
    font-size:1.1em;
    color: #aaa;
    font-weight:bold;
}

#short_articles h4 {
    /*font-size:0.9em;*/
     font-size:1.1em;
}
/*Youtube*/


#sidebar-second #block-views-youtube-block_1 a{
    display: inline;
    font-size:0.85em;
    line-height:0.7em;
}

#google-cse-searchbox-form {
    position:relative;
    margin-bottom:-20px;
}
/*Rating*/
#block-views-Rating-block_1 .title{
    margin-bottom:1em;
}
#block-views-Rating-block_1 li{
    margin-bottom:5px;
}

#block-views-Rating-block_1 li h4{
    font-weight:normal;
    font-size:0.75em;
    text-decoration:underline;

}

#block-views-Rating-block_1 .views-row-1 a,
#block-views-Rating-block_1 .views-row-1 h4{
    color:#000;
}
#block-views-Rating-block_1 .views-row-2 a,
#block-views-Rating-block_1 .views-row-2 h4{
    color:#888;
}
#block-views-Rating-block_1 .views-row-3 a,
#block-views-Rating-block_1 .views-row-3 h4{
    color:#aaa;
}

/*Audio*/

#block-views-audio-block_1 ul {
      padding:0;
    margin:0;
}
#block-views-audio-block_1 li {
    list-style:none;
    padding:0;
    margin:0;
}
#block-views-audio-block_1 h2 {
    font-size:1.1em;
    font-weight:bold;
    margin-top:0.5em;
    line-height:1.1em;
}

#block-views-audio-block_1 p {
    font-size:0.85em;
    line-height:1.3em;
}

#block-views-audio-block_1 .links, #block-views-audio-block_1 .pager  {
    display: none;
}

 #sidebar-second  .title
 {
     background-color:#15727A;
 }

.feed-icon {
    text-align:right;
}

#block-views-audio-block_1  .feed-icon,
#block-panels_mini-news  .feed-icon,
#block-panels_mini-89   .feed-icon
{
    float:right;
    margin-top:-11px;
    margin-right:1px;
}

#mini-panel-news  .views-field-created,
#mini-panel-news   h4
{
    display:inline;

}

#mini-panel-news  .views-field-created {
    font-size:0.9em;
    font-weight:bold;
    color: #777;
}


.teaser1 {
    float:left;
    margin-right:5px;
}

#mini-panel-person  .field-content,
#block-panels_mini-org_history  .field-content
{
    font-size:0.85em;
    line-height:1.3em;

}


/*Person + Org history*/

#mini-panel-person .title,
#block-panels_mini-org_history .title
{
    background-color:#15727A;
    margin-top:1.5em;
    margin-bottom:0.5em;
}

#mini-panel-person h4,
#block-views-youtube-block_1 h4,
#block-panels_mini-org_history h4
{
    font-size:1.1em;
}

/*Article*/

.node-type-article #content-header h1.title{
    display: none;
}

.node-type-article #main {
    padding-top:1em;
    padding-left:20px;
}

.node-type-article #main h3.title{
    display: none;
}

.node-type-article #main .panel-col-first,
.node-type-short #main .panel-col-first
{
    width:75%;
}

.node-type-article #main .panel-col-last,
.node-type-short #main .panel-col-last
{
    width:25%;
}
.node-type-article #main .panel-col-last .inside,
.node-type-short #main .panel-col-last .inside

{
   padding-left:20px;
}

.node-type-article h2 {
   font-weight:bold;
}

/*.view-dom-id-7 {*/
    /*border-top: 2px dashed #ccc;*/
    /*padding-top: 1em;*/
/*}*/



/*Author block*/

#author-blok li{
list-style:square;
}

/*Author articles*/

#author_articles h2{
    background-color:#15727A;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    padding-left: 5px;
    margin-bottom: 0.5em;
}

#author_articles h4 {
    font-size:0.9em;

}


/*Article archive*/

.page-article-archive h3, .page-article-archive #content h1 {
    display: none;
}
.page-article-archive #main{
    padding-top:1em;
}

#mini-panel-article_archive_pan {
    padding-right:40px;
}

#mini-panel-article_archive_pan  .views-field-created {
    text-align:left;
    margin:0;
}

.page-article-archive  #content .item-list  li {
   list-style-type:none;
}

.page-article-archive #sidebar-second h2{
    background-color:#15727A;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    padding-left: 5px;
    margin-bottom: 0.5em;
}

.page-article-archive #sidebar-second h4 {
    font-size:0.9em;

}

.page-article-archive #sidebar-second ol{
    padding-left: 25px;
}

/*About*/

.page-aboutus #main {
    padding-left:20px;
}

.page-aboutus #main h3.title{
   font-size:1.8em;
    margin-bottom:0;
}

.page-aboutus #main .panel-col-first {
    width:75%;
}

.page-aboutus #main .panel-col-last {
    width:25%;
}
.page-aboutus #main .panel-col-last .inside {
   padding-left:20px;
}

.staff ul {
    border-bottom:dashed 2px #ccc;
    margin-bottom:2em;
}



.switcher {
    width:100px;
    position:absolute;
    top: 200px;
    right:30px;
    z-index:30;
}
.views-field-teaser-1 h3 {
margin-bottom: 0;
color: #777;
font-size:1.1em;
}


/*Not displayed*/

.edit {
    display: none;
}

#mini-panel-aboutus h2.title{
    display: none;
}


.tabs, .breadcrumb {
    display:none;
}


#block-menu-primary-links h3 {
    display: none;
}                                                                                                       


.views-label-field-youtube-embed, #block-views-youtube-block_1 .teaser {
    display:none;
}

#block-menu-primary-links h3 {
    display: none;
}